
@{
    ViewData["Title"] = "目次";
}

<h1>目次</h1>
<div class="headerline1"></div>


<br /><a href="/login/">交換相手を承諾する</a>
<br /><a href="/logout/">ログアウト</a>
<br /><a href="/register/">会員登録</a>
<br /><a href="/my/">マイページ</a>
