
@{
    ViewData["Title"] = "日記交換サイト";
}

<h1>ホーム</h1>
<div class="headerline1"></div>

<p>サイト紹介</p>

<br /><a href="/Pages/login/">ログイン</a>
<br /><a href="/logout/">ログアウト</a>
<br /><a href="/Pages/register/">会員登録</a>
<br /><a href="/Pages/my/">マイページ</a>
<br /><a href="/Pages/diaries/">日記一覧</a>
